<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <h2 class='error_title'>Error 400, Invalid <%= error_type%></h2>
        <p><%= error_description%></p>
        <ul>
            <% error_contents.forEach(function(item){ %>
            <li><%= item %></li>
            <% }); %>
        </ul>
    </body>
</html>